# Configuration for MC TileCache
#RT 3/20/13 (and before) add tree_plot and treemap layers
#RT 3/23/13 delete treemap_tree,
#           add treemap_zipcode and include in treemap layer
#RT 3/28/13 change [treemap] to include just geoserver treemap layer group
#RT 4/3/13  add new view layer

# TileCache can load Layers or Caches from anywhere in sys.path. If you 
# prefer to load from somewhere which is *not* on sys.path, you can use
# the path configuration paramter to set a comma-seperated list of 
# filesystem paths which you want prepended to sys.path.
#[tilecache_options]
#path=/home/you

# Some TileCache options are controlled by metadata. One example is the
# crossdomain_sites option, which allows you to add sites which are then
# included in a crossdomain.xml file served from the root of the TileCache
#[metadata]
#crossdomain_sites=openstreetmap.org,openaerialmap.org

# [cache] section examples: (mandatory!)
# 
# Disk:
# [cache] 
# type=Disk   (works out of the box)
# base=<full path to cache directory>
# 
# Memcached:
# [cache]
# type=Memcached  (you'll need memcache.py and memcached running!)
# servers=192.168.1.1:11211
#
# Amazon S3:
# [cache]
# type=AWSS3
# access_key=your_access_key
# secret_access_key=your_secret_access_key

[cache]
type=Disk
base=/tmp/trees_cache

# [layername] -- all other sections are named layers
#
# type={MapServerLayer,WMSLayer} 
#   *** if you want to use MapServerLayer, you *must* have Python mapscript
#       installed and available ***
# 
# mapfile=<full path to map file>   
# url=<full URL of WMS>             
# layers=<layer>[,<layer2>,<layer3>,...] 
#                                   *** optional iff layername if what
#                                       your data source calls the layer **
# extension={png,jpeg,gif}          *** defaults to "png"               ***
# size=256,256                      *** defaults to 256x256             ***
# bbox=-180.0,-90.0,180.0,90.0      *** defaults to world in lon/lat    ***
# srs=EPSG:4326                     *** defaults to EPSG:4326           ***
# levels=20                         *** defaults to 20 zoom levels      ***
# resolutions=0.1,0.05,0.025,...    *** defaults to global profile      ***
# metaTile=true                     *** metatiling off by default
#                                       requires python-imaging         ***
# metaSize=5,5                      *** size of metatile in tiles
#                                       defaults to 5 x 5               ***
# metaBuffer=10                     *** size of metatile buffer in px   ***
# mime_type=image/png  *** by default, the mime type is image/extension ***   
#                      *** but you may want to set extension=png8 for   ***
#                      *** GeoServer WMS, and this lets you set the     ***
#                      *** mime_type seperately.                        ***

# The following is a demonstration of a layer which would be generated
# according to the 'Google projection'. This uses the standard values for
# a spherical mercator projection for maxextent, maxresolution, units 
# and srs.
# [google-tiles]
# type=WMS
# url=http://localhost/cgi-bin/mapserv?map=/mapdata/world.map
# layers=world
# spherical_mercator=true

# Standard MapServer layer configuration.
# [vmap0]
# type=MapServer
# layers=vmap0
# mapfile=/var/www/vmap0.map

# Rendering OpenStreetMap data with Mapnik; should use metaTiling to
# avoid labels across tile boundaries 
# [osm]
# type=Mapnik
# mapfile=/home/user/osm-mapnik/osm.xml
# spherical_mercator=true
# tms_type=google
# metatile=yes

#1/30/13
[basic]
type=WMS
url=http://labs.metacarta.com/wms/vmap0
extension=png

[treemap]
type=WMSLayer
#layers=otm:treemap_neighborhood,otm:treemap_plot
layers=otm:treemap
url=http://mtm.weuns.lan:8080/geoserver/wms?transparent=true
#metaTile=true
#ExpiresActive on
#ExpiresDefault "now plus six hours"
#srs=EPSG:900913
spherical_mercator=true
#debug=yes

[treemap_zipcode]
type=WMSLayer
layers=otm:treemap_zipcode
url=http://mtm.weuns.lan:8080/geoserver/wms?transparent=true
#metaTile=true
#ExpiresActive on
#ExpiresDefault "now plus six hours"
#srs=EPSG:900913
spherical_mercator=true
#debug=yes

[treemap_plot]
type=WMSLayer
layers=otm:treemap_plot
url=http://mtm.weuns.lan:8080/geoserver/wms?transparent=true
#metaTile=true
#ExpiresActive on
#ExpiresDefault "now plus six hours"
#srs=EPSG:900913
spherical_mercator=true
#debug=yes

[treemap_neighborhood]
type=WMSLayer
layers=otm:treemap_neighborhood
url=http://mtm.weuns.lan:8080/geoserver/wms?transparent=true
#metaTile=true
#ExpiresActive on
#ExpiresDefault "now plus six hours"
#srs=EPSG:900913
spherical_mercator=true
#debug=yes

#-72.6126920150531
#44.234890817464
#-72.5249717416237
#44.3134095706361
#resolutions=156543.033900000,78271.516950000,39135.758475000,19567.879237500,9783.939618750,4891.969809375,2445.984904688,1222.992452344,611.496226172,305.748113086,152.874056543,76.437028271,38.218514136,19.109257068,9.554628534,4.777314267,2.388657133,1.194328567,0.59716428337097171575,0.298582142
#maxResolution=156543.0339
#bbox=-20037508.3427892,-20037508.3427892,20037508.3427892,20037508.3427892

[tree_search]
type=WMSLayer
layers=otm:tree_search
url=http://mtm.weuns.lan:8080/geoserver/wms?transparent=true
#metaTile=true
#ExpiresActive on
#ExpiresDefault "now plus six hours"
#srs=EPSG:900913
spherical_mercator=true
#debug=yes
